.if12ip {
	font-size: 1.1rem;
	width: 25rem;
	outline: none;
	background: transparent;
	color: white;
	border: none;
	border-bottom: 1px solid rgba(225, 225, 225, 0.753);
	transition: 0.2s;
	max-width: 25rem;
	max-height: 3em;
}

.if12ip::placeholder {
	color: rgba(236, 236, 236, 0.727);
	font-family: "open sans";
	text-transform: capitalize;
}

if12ip:focus {
	border-bottom: 1px solid rgb(241, 241, 241);
}
